<div class="winter-strip">
  <div class="trees left">
    <div class="tree"></div>
    <div class="tree small"></div>
    <div class="tree"></div>
    <div class="tree tiny"></div>
  </div>

  <div class="snowman">
    <div class="hat-top"></div>
    <div class="hat-brim"></div>
    <div class="snow part1"></div>
    <div class="snow part2"></div>
    <div class="snow part3"></div>
  </div>

  <div class="trees right">
    <div class="tree tiny"></div>
    <div class="tree small"></div>
    <div class="tree"></div>
    <div class="tree small"></div>
  </div>
</div>

<footer class="app-footer">
  <div class="footer-content">
    Angular assessment tasklist • decembereditie 2025
    <span class="wink">Kleine knipoog naar de feestdagen 🎄</span>
  </div>
</footer>
